@media (max-width: 1000px){



    header h1{
        font-size:30px;
    }
    .main h2{
        font-size:50px;

    }

    .main{
        text-align:left;
    }

}

@media (max-width:670px){

    .header-right{
        display:none;
    }

    .menu-icon{
        display:block;
    }

    .contents-wrap{
        flex-direction:column;
        align-items:center;
    }

    .content{
        width:90%;
        margin:40px 0;
    }

    .content p{
        width:100%;
        font-size:16px;
        line-height:1.5;
    }

    .content a{
        font-size:24px;
    }

    .footer-left{
        font-size:10px
    }

    .footer-right{
        font-size:10px;
    }

    .menu{
        flex-direction:column;
        text-align:center;
        margin-top:80px;
    }

}
