*{
    font-family:sans-serif;
}

html{
    scroll-behavior:smooth;
}

header{
    height:80px;
    background-color:rgba(187,152,85,0.8);
    position:fixed;
    top:0;
    z-index:2;
    width:100%;
    align-items:center;
}

.header-wrap{
    display:flex;
    max-width:1300px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 20px 0 20px;
    line-height:80px;
}

.menu-icon{
    width:30px;
    height:22px;
    position:relative;
    cursor:pointer;
    display:none;
}

.menu-icon span{
    position:absolute;
    left:0;
    width:100%;
    height:3px;
    background-color:#fff;
    border-radius:2px;
    transition: 0.4s;
    opacity:0.5;
}

.menu-icon:hover span{
    opacity:1;
}

.menu-icon span:nth-child(1){
    top:0;
}

.menu-icon span:nth-child(2){
    top:9px;
}

.menu-icon span:nth-child(3){
    top:18px;
}

.menu-icon.active span:nth-child(1){
    transform:translateY(9px) rotate(45deg);
}

.menu-icon.active span:nth-child(2){
    opacity:0;
}

.menu-icon.active span:nth-child(3){
    transform:translateY(-9px)  rotate(-45deg);
}



.header-logo a{
    font-size:40px;
    opacity:0.5;
    padding-left:20px;
    margin:0;
}

header a{
    color:white;
    font-size:20px;
    margin-left:10px;
    opacity:0.8;
    text-decoration:none;
}

header a:hover{
    opacity:1;
}

.main {
    height:800px;
    background-image:url(https://cdn.pixabay.com/photo/2016/04/12/11/19/coffee-1324126_1280.jpg);
    background:cover;
    text-align:center;
    opacity:0.9;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    margin-bottom:30px;
    text-shadow:5px 5px 8px black;
}



.main h2{
    font-size:70px;
    padding-bottom:20px;
    
}

.main p{
    border-bottom:1px solid white;
}

.content{
    position:relative;
    margin:80px 0 80px 0;
    width:50%;
    opacity:0;
    transform:translateY(30px) rotate(20deg);
    transition:all 1.5s ease;
}

.content.show{
    opacity:1;
    transform:translateY(0) rotate(0deg);
}


.content img{
    width:100%;
    height:auto;
}

.content a{
    position:absolute;
    display:flex;
    top:0;
    left:0;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
    color:rgba(136, 71, 71, 0.8);
    text-shadow:2px 2px 5px rgba(0,0,0,0.5);
    font-size:30px;
    text-decoration:none;
}

.content a:hover{
    background-color:rgba(255,255,255,0.3);
}

.contents-wrap{
    display:flex;
    justify-content:center;
    margin-left:20px;
    flex-wrap:wrap;
    text-align:center;
}

.content p{
    line-height:20px;
    display:inline-block;
    width:80%;
    text-align:center;
}

.form-wrap{
    border-top:1px solid black;
    display:flex;
    flex-direction:column;
    text-align:center;
    margin-top:8px;
}

.form-wrap h3{
    font-size:40px;
}

input, textarea{
    margin-bottom:20px;
    width:40%;
    line-height:30px;
    border-radius:10px;
}

.send input{
    width:20%;
    background-color:rgba(187,152,85,0.8);
    box-shadow:5px 5px 5px black;
}

.send input:active{
    position:relative;
    box-shadow:none;
    top:5px;
    left:5px;
    opacity:1;
}

footer{
    background-color:rgba(169, 169, 169, 0.7);
    height:130px;
    display:flex;
    opacity:0.3;
    justify-content:space-between
}

.footer-left{
    color:black;
    padding-left:50px;
}

.footer-left p{
    padding-top:10px;
}

.footer-right{
    padding-right:50px;
}

.header-right.active{
    display:block;
    position:absolute;
    top:80px;
    right:0;
    background-color:rgba(187,157,85,0.95);
    width:100%;
    text-align:center;
    padding:20px 0;
}

.header-right.active a {
    display:block;
    margin:15px 0;
    font-size:22px;
}
